*{
    padding:0px;
    margin:0px;
   box-sizing:border-box;
   font-family: sans-serif; 
}
html,body{
    display:grid;
    height:100%;
    width:100%;
    place-items:center;
    background-color: aqua;
    background-image:linear-gradient(rgba(235, 162, 95, 0.3),rgba(235, 162, 95, 0.3)),url('back1.jpg'); 
    background-size:cover ;
    background-position: center ;
    background-attachment:fixed ;
    background-repeat:no-repeat ;
}
/* body .back{
    
    height:100%;
    width:100%;
    
    background-color: aqua;
    background:linear-gradient(rgba(235, 162, 95, 0.3),rgba(235, 162, 95, 0.3)),url('back1.jpg'); 
    background-size:cover ;
    background-position: center center;
} */
.navbar
{
    width:65%;
    margin:auto;
    padding:30px 0;
    display:inline;
    place-items: center; 
     align-items:center; 
    justify-content:space-between;
}
.navbar ul li{
    list-style:none;
    margin:25px 20px;
    display:inline-block;
    
}
.navbar ul li a{
    text-transform: uppercase;
    
    color:#faf9f9;
    text-decoration:none;
}
.wrapper
{
    margin-top:60px;
    border-radius: 5px  ;
    border:2px solid  rgb(196, 113, 19);
    background-color:rgba(10, 10, 10, 0.3);
   
    width:550px;
    height:93%;
}
.wrapper .title
{
    line-height: 50px;
    background-color: rgb(196, 113, 19);
    border-radius:5px 5px 0px 0px;
    padding-left:130px;
    font-size:20px;
    font-weight: 15px;
    color:white;
}
.wrapper form{
    padding-top:15px;
}
.wrapper form .row
{
 margin-bottom: 5px;
    height:45px;
    background-color: transparent;
    margin-left:20px;
    width:500px;
}
.wrapper form .row input,select{
    
    height:100%;
    
}
.wrapper form .row .first
{
    padding-left:30px;
    width:210px;
    
}
.wrapper form .row .second
{
    padding-left:30px;
    width:210px;
    margin-left:40px;
    
}
.wrapper form .row  .button
{
    background-color: rgb(196, 113, 19);
    padding-left:5px;
    font-size:20px;
    font-weight: 15px;
    color:white;
}